branches:
 only:
  - master
  - /^[0-9]+(\.[0-9]+)*(\.post[0-9]+)?$/
  - arm64_wheel

language: python

matrix:
  include:

    - os: osx
      language: generic
      env:
        - PYTHON_VERSION=3.7.4

    - os: osx
      language: generic
      env:
        - PYTHON_VERSION=2.7.15
        
    - os: linux
      arch: arm64
      dist: bionic
      sudo: required
      python: "3.7"
      env:
        - PYTHON_VERSION=3.7.4 PIP_NO_CACHE_DIR=on

      before_deploy:
        - git config --global user.name "odidev"
        - git config --global user.email "odidev@puresoftware.com"
        - git config --global --list

      deploy:
        provider: pypi
        user: mkp2020
        password:
          secure: L1etBFaD0vbtiiaiSOw6D8zu8MHKwdEbzEz1anR6Nj/7kyylx1joy8Jz5T83lRTfXRnWyk9Np++M21J/TQKzn49TyaaBECtabMlg/n/JIufzhA27vXCDnwe3S2ERl4Au9yg+RRof+FJDWb/HrCaVkxvOUKKz+19PEUs73gtPSw9fCZI/PUvS8SpXL8/ltlKWhKw80Hs9WAVJ30m5iNy6a3BzfrW75eUSCQZjbt7B849LUZCosifE+a4rsWGu9R0gfAdWkn+4QYBa7s273wO7uJDkK/Vg32LwMIuB+9kzP/C35c/PQkrPg6EFkV04m8inALKew1NenPmL5cOkzxAazkKnzymi9Fe7wcGOd/OQ/UUfRjRV1AZmAEe93DWW7EPxNNwrac5TSll9KDnNWRrdZNALcnDOxDpOGTJUvYKfCSiUyjT/GkFxkZYbQN5YnkTDbMZeI5Yomw2IhgefMp4Pa90rIYIti+zkDSODyXPAVAWn9mt8UoCo6pe7YFBWSjfCd1MjJAIKu6CCzVAzscge8iExyce77J76WCZUAaJnozzZUx4Gul9xbjNNUX9BxAZHYyLcMX3lrSWRS86qjp/HAfCfC6Hr6NwUttLSqFyg1rRB9+Di+GqVWh0MKP4ndNqVfSXSsVpaKMRM5v7tk2BzYoQoWBbgXU373KCUicHKHnY=
        on:
          repo: odidev/cmake-python-distributions
        skip_cleanup: 'true'
        distributions: sdist bdist_wheel --plat-name manylinux2014_aarch64

cache:
  directories:
    - $HOME/.pyenv/versions/3.7.4
    - $HOME/.pyenv/versions/2.7.15
    - $HOME/downloads

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then mkdir $HOME/bin; ln -s $(which pip2) $HOME/bin/pip; ln -s $(which python2) $HOME/bin/python; fi
  - python scripts/ssl-check.py
  - python -m pip install --disable-pip-version-check --upgrade pip
  - pip install -U scikit-ci scikit-ci-addons 
  - ci_addons --install ../addons

install:
  - if [ "${TRAVIS_CPU_ARCH}" == "arm64" ]; then
       pip install scikit-build;
    else
       ci install;
    fi

script:
  - if [ "${TRAVIS_CPU_ARCH}" != "arm64" ]; then
       ci test;
    fi

after_success:
  - if [ "${TRAVIS_CPU_ARCH}" != "arm64" ]; then
       ci after_test;
    fi
